/* Add CSS Styling */
.alone-1, .alone-2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.alone-1 {
    background-color: black;
    color: white;
}

.alone-2 {
    background-color: yellow;
}